.section--articles {
  margin: auto;
  padding: 50px 10rem;
  .section__heading--articles {
    text-align: center;
    font-weight: 500;
    @media screen and (min-width: 768px) {
      text-align: left;
      padding-bottom: 30px;
    }
  }
  .box--article{
    margin: auto;
    @media screen and (min-width: 768px) {
      display: inline-block;
      width: 17rem;
      align-content: center;
    }
    .box__img--article {
      height: 200px;
      width: 95% ;
      margin: auto;
      border-radius: 5px 5px 0 0;
    }
    .box__paragraph--author{
      font-size: small;
      color: $grayishBlue;
      padding: 20px 20px 10px;
    }
    .box__heading--article{
padding: 10px 20px;
font-weight: 300;
    }
    .box__article--article{
      padding: 0 20px 20px 20px;
      color: $grayishBlue;
      @media (min-width: 768px){
        font-size: 0.9rem;
      }
    }
  }
}