// Primary

$darkBlue: #2d314d;
$limeGreen: #31d35c;
$mattGreen: #31c588;
$brightCyan: #2bb7da;
$darkestGrey: #2B2D44;
$darkGrey: #2d2f48;
$grey: #3E3E47;

// Neutral

$grayishBlue: #9698a6;
$lightGrayishBlue: #f3f4f6;
$veryLightGray: #fafafa;
$white: #ffffff;