.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 80px;
  background-color: $white;
  box-shadow: 0 3px 6px #00000029;
}

.menu__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  max-width: 1140px;
  min-height: 80px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 25px;
  }
}

.menu__col--left,
.menu__col--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: flex-start;
  }
}

.menu__col--right {
  align-items: flex-end;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.menu__col--center,
.menu__wrapper--links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: auto;
  }
}

.menu__col--center {
  @media screen and (max-width: 768px) {
    width: 100%;
    background-color: $white;
    z-index: 5;
    border-radius: 7px;
  }
}

.menu__logo {
  display: flex;
  align-items: center;
}

.menu__link {
  color: #C3C2C7;
  transition: 0.2s;
}

.menu__link--nav {
  position: relative;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    bottom: -19px;
    left: 15px;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, rgba(48,207,96,1) 0%, rgba(48,195,158,1) 40%, rgba(64,182,204,1) 100%);
    transition: width 0.2s;

    @media screen and (max-width: 768px) {
      bottom: -5px;
    }
  }

  &:hover {
    color: $grey;

    &::after {
      width: calc(100% - 30px);
    }
  }

  @media screen and (max-width: 768px) {
    display: inline-block;
    margin: 10px 0;
    color: $darkestGrey;
  }
}

.menu__col--right-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__wrapper--button {
  display: flex;
  align-items: center;
}

.menu__element--input {
  display: none;
}

.menu__element--button,
.menu__element--button::before,
.menu__element--button::after {
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: $darkGrey;
  border-radius: 2px;
  transform: rotate(0);
  transform-origin: 15%;
  transition: 0.2s ease-in-out;
}

.menu__element--button {
  position: relative;
}

.menu__element--button::before,
.menu__element--button::after {
  content: '';
  position: absolute;
  left: 0;
}

.menu__element--button::before {
  top: -6px;
}

.menu__element--button::after {
  top: 6px;
}

.menu__element--input:checked ~ .menu {
  padding-top: 28px;
}

.menu__element--input:checked ~ .menu .menu__col--right-mobile .menu__element--button::before {
  transform: rotate(45deg);
}

.menu__element--input:checked ~ .menu .menu__col--right-mobile .menu__element--button {
  background: transparent;
}

.menu__element--input:checked ~ .menu .menu__col--right-mobile .menu__element--button::after {
  transform: rotate(-45deg);
}

.menu__element--input ~ .menu .menu__col--center,
.menu__element--input ~ .menu .menu__col--center .menu__wrapper--links {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.menu__element--input:checked ~ .menu .menu__col--center,
.menu__element--input:checked ~ .menu .menu__col--center .menu__wrapper--links {
  display: flex;
}

.menu__element--input:checked ~ .menu .menu__col--center {
  margin-top: 50px;
  padding-bottom: 15px;
}

.menu__element--input:checked + .body__apla {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $darkGrey;
  opacity: 0.6;
}

.menu__button--send {
  @include send-button;
}